/* Write your code here. */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.heading {
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}
.container {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .logo-img {
    height: 300px;
    width: 300px;
  }
}
